.new-expenses__control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expenses__control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border:1px solid #CCC;
    width: 20rem;
    max-width: 100%;
}

.new-expenses__actions{
    text-align: right;
}